@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


a {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
	
}

#container {
	margin: 0 auto;
	width: 1400px;
	background-color: rgb(238,238,238);
}



#Contents {
	clear: both;
	margin-left: auto;
    margin-right: auto;
	width: 1400px;
	height: 1200px;
	background-color:  rgb(238,238,238);
}

#mainContents {
	float: left;
	width: 75%;
	height: 100%;
	margin : 0px 5px ;
	background-color: white;
	border: 1px solid rgb(187,187,187);
}

#chanel {
	width: 95%;
	height: 45px;
	margin: 10px 2.5% 10px 2.5%;
	border-top: 1px solid rgb(187,187,187);
	border-bottom: 1px solid rgb(187,187,187);

}


#chanel ul li {
	float: left;
	padding: 0px 20px;
	height: 30px;
	font-size: 16px;
	font-weight: 500;
	border-right: 1px solid rgb(187,187,187);
	margin-top: 7px;
	line-height: 30px;
}

#chanel ul li:last-child {
	border-right: none;
}

.boardMenu {
	position: relative;
	width: 95%;
	height: 30px;
	margin: 5px 2.5%;
}


.boardMenu ul li a {
	width: 80px;
	height: 30px;
	float: left;
	font-size: 14px;
	padding: 0px 10px;
	border: 1px solid rgb(187,187,187);
	margin-bottom: 0px;
	line-height: 27px;
	text-align: center;
}

.boardMenu select {
	position: absolute;
	width: 80px;
	height: 30px;
	font-size: 14px;
	margin: 0px;
	line-height: 30px;
	text-align: center;
	border: 1px solid rgb(187,187,187);
}

.boardMenu select opton {
	width: 80px;
	height: 30px;
	text-align: left;
}

.boardMenu > a {
	float: right;
	width: 80px;
	height: 30px;
	font-size: 14px;
	padding: 0px 10px;
	border: 1px solid rgb(187,187,187);
	margin-bottom: 0px;
	line-height: 27px;
	text-align: center;
}

#search {
	float: right;
	height: 30px;
	margin-right: 10px;
	border: 1px solid rgb(187,187,187);
}

#search * {
	padding: 0px;
	border: 0px;
}

#search input {
	height: 90%;
	font-size: 14px;
	width: 160px;
	outline: none;
	padding: 10px;
}

#search button {
	height: 100%;
	width: 60px;
	outline: none;
	background-color: white;
	border-left: 1px solid rgb(187,187,187);
	font-size: 14px;
}


#tab {
	width: 95%;
	height: 70px;
	margin: 10px 2.5% 0 2.5%;
}

#latest {
	background-color: rgb(238,238,238);
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 13px;
	padding: 0 10px;
	margin-bottom: 10px
}

#tab ul {
	height: 30px;
	border-bottom: 1px solid rgb(187,187,187);
}

#tab ul li {
	float: left;
	height: 30px;
	width: 70px;
	border: 1px solid rgb(187,187,187);
	margin-right: 10px;
	text-align: center;
	line-height: 25px;
}

#tab ul li a {
	height: 40px;
	width: 70px;
	margin: 0px 5px;
	font-size: 17px;
	color: rgb(187,187,187);
}

#board table {
	border-bottom: 1px solid rgb(187,187,187);
	border-collapse: collapse;
	margin-top: 5px;
	width: 100%;
	height: 30px;
	font-size: 15px;
	line-height: 25px
}

#board table tr th{
	text-align: center;
}

#board table tr th:first-child {
	width: 80px;
}

#board table tr th:nth-child(2) {
	width: 550px;
	text-align: left;
}

#board table tr th:nth-child(3) {
	width: 140px;
	text-align: left;
}

#board table tr th:nth-child(4) {
	width: 90px;
}

#board table tr th:nth-child(5) {
	width: 80px
}

#board table tr th:last-child {
	width: auto;
}

#board{
	width: 95%;
	height: 910px;
	margin: 0 2.5% 10px 2.5%;
}


#boardNum {
	width: 95%;
	height: 30px;
	margin: 15px 2.5%;
	text-align: center;
}

#boardNum ul {
	width: 490px;
	margin: 0px auto;
}

#boardNum ul li {
	float: left;
	height: 35px;
	width: 35px;
	border: 1px solid rgb(187,187,187);
	text-align: center;
	line-height: 30px;
}

#boardNum ul li:nth-child(n+3):nth-child(-n+12){
	line-height: 35px;
}

#boardNum ul li:nth-child(n+1):nth-child(-n+2){
	display: none;
}

#sideContents {
	float: left;
	width: 23%;
	height: 100%;
	margin : 0px 5px;
	background-color: rgb(238,238,238);
}

#bestPost {
	position: relative;
	width: 100%;
	height: 300px;
	margin: 10px 0;
	border: 1px solid rgb(187,187,187);
	background-color: white;
}

#notice {
	width: 100%;
	height: 150px;
	margin: 10px 0;
	border: 1px solid rgb(187,187,187);
	background-color: white;
	
}


