<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>SignUpController</servlet-name>
		<servlet-class>controller.SignUpController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignUpController</servlet-name>
		<url-pattern>/Signup.do</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>SignInController</servlet-name>
		<servlet-class>controller.SignInController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignInController</servlet-name>
		<url-pattern>/Signin.do</url-pattern>
	</servlet-mapping>
	
	
</web-app>
